
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isAut">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <!--routerLink: se le indica cual es la url q nos dirigimos segun la configuracion que tengamos en el ruteo-->
              <a class="nav-link" routerLink="" [routerLinkActive]="'active'"></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="post" [routerLinkActive]="'active'">poster</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="interpolacion" [routerLinkActive]="'active'">Interpolacion</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Consultas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="Consultar/Clientes" >Consultar Clientes</a>              
              <a class="dropdown-item"routerLink="Llamar-Input">Llamar Input Vh</a>
              <a class="dropdown-item" routerLink="observable">Usar Observables y mas </a>
            </div>
          </li>

      </ul>
  </div>
</nav>

