<h3>Componente de Usuarios</h3>

<form>
    <div class="form-row align-items-center">

      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">ID cliente</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Digite el ID del cliente</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ID cliente">
        </div>
      </div>
  
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>

<button class="btn btn-primary" (click)="navegarHaciaPost()">Post</button>
